<div class="tabs hakukohdeNav" ng-controller="navigationController">
    <a ng-class="navClass('perustiedot', 5)" href="#/haku/{{hakuOid}}/hakukohde/{{hakukohdeOid}}/perustiedot" class="tab"><span>Hakukohteen perustiedot</span></a>
    <a ng-class="navClass('valinnanhallinta', 5)" href="#/haku/{{hakuOid}}/hakukohde/{{hakukohdeOid}}/valinnanhallinta" class="tab"><span>Valinnan hallinta</span></a>
    <a ng-class="navClass('pistesyotto', 5)" href="#/haku/{{hakuOid}}/hakukohde/{{hakukohdeOid}}/pistesyotto" class="tab"><span>Tietojen syöttäminen</span></a>
    <a ng-class="navClass('harkinnanvaraiset', 5)" href="#/haku/{{hakuOid}}/hakukohde/{{hakukohdeOid}}/harkinnanvaraiset/pistelaskennassa" class="tab"><span>Harkinnanvaraiset hakijat</span></a>
    <a ng-class="navClass('valintaesitys', 5)" href="#/haku/{{hakuOid}}/hakukohde/{{hakukohdeOid}}/valintaesitys" class="tab"><span>Valintaesitys</span></a>
</div>
