<div class="tabs">
    <a href="#/haku/{{hakuOid}}/hakukohde/{{hakukohdeOid}}/valinnanhallinta" class="tab current"><span>Valinnan hallinta</span></a>
    <a href="#/haku/{{hakuOid}}/hakukohde/{{hakukohdeOid}}/pistesyotto" class="tab"><span>Tietojen syöttäminen</span></a>
    <a href="#/haku/{{hakuOid}}/hakukohde/{{hakukohdeOid}}/harkinnanvaraiset/pistelaskennassa" class="tab"><span>Harkinnanvaraiset hakijat</span></a>
    <a href="#/haku/{{hakuOid}}/hakukohde/{{hakukohdeOid}}/valintaesitys" class="tab"><span>Valintaesitys</span></a>
</div>
