<div ng-controller="HakukohteetController">
	<div class="field-search-containerbox">
	    <input type="text" class="search" ng-model="searchWord" />
	</div>

	<ul class="selectlist">
	    <li ng-repeat="data in model.hakukohteet | filter:searchWord">
	        <a href="#/haku/{{hakuOid}}/hakukohde/{{data.oid}}/valinnanhallinta">
	            <span class="icon file"></span>
	            <span class="label">
	                {{data.nimi}}
	            </span>
	        </a>
	    </li>
	</ul>
</div>
