<div class="field-search-containerbox">
    <input type="text" class="search" />
</div>


<ul class="selectlist">
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
    <li><a href=""><span class="icon file"></span><span class="label">Aalto, Vilma</span></a></li>
</ul>

