
<div class="width-16-8 margin-vertical-2">
    <select>
        <option>Toisen asteen ammatillisen ja lukiokoulutuksen yhteishaku, kevät 2013</option>
    </select>
</div>

<div class="clear"></div>

<div class="tabs">
    <a href="#/haku/{{hakuOid}}/" class="tab {{hakukohteittainTab}}"><span>Hakukohteittain</span></a>
    <!--<a href="#/haku/{{hakuOid}}/henkiloittain/" class="tab disabled"><span>Henkilöittäin</span></a>-->
    <a class="tab disabled"><span>Henkilöittäin</span></a>
    <a href="#/haku/{{hakuOid}}/yhteisvalinnanhallinta/" class="tab float-right {{yhteisvalinnahallintaTab}}"><span>Yhteisvalinnan hallinta</span></a>
    <!-- <a href="#/valinnanvaihe/:id/laskentakaava" class="tab"><span>Laskentakaavat</span></a>    -->
</div>
