<div class="width-16-8 margin-vertical-2" ng-controller="HakuController">
        <select ng-model="model.hakuOid" ng-options="haku.haunKielistetytNimet[1].nimi for haku in model.haut">
    </select>
</div>

<div class="clear"></div>


<div class="tabs" ng-controller="navigationController">
    <a ng-class="navClass('hakukohde', 3)" href="#/haku/{{hakuOid}}/hakukohde" class="tab"><span>Hakukohteittain</span></a>
    <!--<a href="#/haku/{{hakuOid}}/henkiloittain/" class="tab disabled"><span>Henkilöittäin</span></a>-->
    <a ng-class="navClass('henkiloittain', 3)" class="tab disabled"><span>Henkilöittäin</span></a>
    <a ng-class="navClass('yhteisvalinnanhallinta', 3)" href="#/haku/{{hakuOid}}/yhteisvalinnanhallinta/" class="tab float-right"><span>Yhteisvalinnan hallinta</span></a>
    <!-- <a href="#/valinnanvaihe/:id/laskentakaava" class="tab"><span>Laskentakaavat</span></a>    -->
</div>
