<h1>Valinnat</h1>


<div ng-include="'partials/topNavigation.html'"></div>
<div class="clear"></div>

<div class="tabsheets">
	
	<div class="grid16-4" ng-include="'partials/hakukohdelista.html'"></div>
	<div class="grid16-12">
		<div ng-include="'partials/hakukohdeNavigation.html'"></div>
		<div class="tabsheets">
            <h1>{{hakukohdeModel.hakukohde.hakukohdeNimi}}</h1>

			<div class="margin-bottom-2" ng-repeat="valinnanvaihe in model.valinnanvaiheList">
				<div class="width-12-6">
					<h3 class="margin-top-0">{{valinnanvaihe.nimi}}</h3>
				</div>

				<div class="width-12-6">
                    <a ng-click="model.kaynnistaValintalaskenta($index)" class="button small">Käynnistä laskenta</a>

					<!-- <button class="small btn">Käynnistä vaihe</button>  -->
				</div>
				<div class="clear"></div>
			</div>
		<!--
			<div>
				<div class="width-12-6">
					<h3 class="margin-top-0">Esivalinta</h3>
					<a href="#">syötä pistetietoja</a>
					<a href="#">pistejärjestys</a>
				</div>

				<div class="width-12-6">
					<button class="small btn">Käynnistä vaihe</button>
				</div>
			</div>
			-->
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>


</div>

