<h1>Valinnat</h1>

<div ng-include="'partials/topNavigation.html'" />

<div class="tabsheets">

    <div class="grid16-4" ng-include="'partials/hakukohdelista.html'"></div>

    <div class="grid16-12">
        <div ng-include="'partials/hakukohdeNavigation.html'" />

		<div class="tabsheets">	
			<h1>Sosiaali ja terveysoalan perustutkinto, pk<br/>
			Stadin ammattiopisto, Vilppulantie</h1>

			<p><a href="#" class="button small disabled">Hyväksy valintaesitys</a> Hyväksytty 12.6.2013 / PI</p>
			
			<div ng-repeat="valintatapajono in model.valintatapajonot">
				<h3>Valintatapajono: {{valintatapajono.nimi}}</h3>
				<table class="virkailija-table-1">
					<thead>
						<tr>
							<th>Hakija</th>
							<th>Valintatieto</th>
							<th>Selite</th>
							<th>Pistemäärä</th>
						</tr>
					</thead>
					<tbody ng-repeat="tulos in valintatapajono.jarjestyskriteeritulokset">
						<tr>
							<td>{{tulos.sukunimi}}, {{tulos.etunimi}}</td>
							<td>{{tulos.tila}}</td>
							<td>{{tulos.kuvaus}}</td>
							<td>{{tulos.arvo}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
	
	</div>
	<div class="clear"></div>
</div>
